@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>@(String.IsNullOrEmpty(ViewBag.Title) ? "ProjectDashboard | Customer" : ViewBag.Title)</title>
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css" /> 
    <link rel="stylesheet" type="text/css" href="~/Content/Site.css" />
    <link rel="stylesheet" type="text/css" href="~/Styles/dashboard.css" />


</head>
<body>
    @*-----nav bar-----*@
    <header class="header dash-header">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    @Html.ActionLink("Intersteller Energy", "ProjectOverview", "Dashboard", new { area = "" }, new { @class = "navbar-brand" })
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li>@Html.ActionLink("Dashboard", "ProjectOverview", "Dashboard")</li>
                        <li>@Html.ActionLink("About", "About", "Home")</li>
                        <li>@Html.ActionLink("Contact", "Contact", "Home")</li>
                    </ul>
                    @Html.Partial("_LoginPartial")
                </div>
            </div>
        </div>
    </header>
    @*------Dashboard Header------*@  
    <div class="container-fluid">
            <div class="headadddiv">
                <div class="user-heading">My Dashboard</div>
            </div> 
        @*------Progress Bar------*@       
       <section id="ctl00_divStatusProgress" class="dashnavdiv">
         <div class="container-fluid">
            <div class="progressNav">
                <ul>
                    @*-------Submit my Information------*@
                    <li id="ctl00_aMenuSiteSurveyDocUpload1" class="active" title="SUBMIT MY INFORMATION">
                        <span class="icon-tick"></span>
                        <span class="text" title="SUBMIT MY INFORMATION">Submit My Information</span>
                    </li>
                    @*---------Select System-------*@
                    <li id="ctl00_aMenuSolarPVSystem1" class="active" title="System">
                        <span class="icon-tick"></span>
                        <span id="ctl00_ltrInputSystemSize" title="Solar System" class="text">Select System</span>
                    </li>
                    @*---------Select Installer------*@
                    <li id="ctl00_aMenuChooseInstaller1" class="active" title="SELECT INSTALLER">
                        <span class="icon-tick"></span>
                        <span title="SELECT INSTALLER" class="text">Select Installers</span>
                    </li>     
                    @*-----------Select Financing---------*@             
                    <li id="ctl00_aMenuFinancingOption" class="active" title="Choose Financing Options">
                        <span class="icon-tick"></span>
                        <span title="CHOOSE FINANCING" class="text">
                            Choose Financing Options
                        </span>
                    </li>
                    @*---------Final Review-------*@
                    <li id="ctl00_aMenuPaperwork" title="FINALIZE INFORMATION" class="active">
                        <span class="icon-tick"></span>
                        <span title="FINALIZE DESIGN" class="text">Finalize Information</span>
                    </li>
                    @*---------Get Approved-------*@
                    <li id="ctl00_aMenuSubmitReview1" title="Get Approved" class="active">
                        <span class="icon-tick"></span>
                        <span class="text">Get Approved!
                        </span>
                    </li>
                </ul>
            </div>
        </div>
    </section>
   </div>
    @*-------action for Progress Bar---------*@
    <input type="hidden" name="ctl00$Main$hdnPackageDetail" id="ctl00_Main_hdnPackageDetail" value="none" />
    <section class="dashboardcont ">
        <div class="container-fluid">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 bhoechie-tab-container">
                @*-------Inline Java Script function for the progress bar-------*@
                <script type="text/javascript">
                    function SetLeftactivemenu(id) {
                        var href = $('#' + id).attr("href");
                        if (href != undefined && href != "") {
                            $('.boxgreen').removeClass("active");
                            $('.boxgray').removeClass("active");
                            $('.boxorange').removeClass("active");
                            $('#' + id).attr('style', 'background-color:#fff;');
                            }
                    }
                </script>
                @*--------Menu-------*@
                <div class="bhoechie-tab-menu">
                    <div class="list-group">
                        @*------OverVeiw-------*@
                        <a href="/Dashboard/ProjectOverview?Id=5XI3Ym7rHQc%3d" id="ctl00_Main_CustomerLeftMenu_aSolarPVSystemBuild" title="OVERVIEW" class="list-group-item card-1" onclick="SetLeftactivemenu(this.id);">
                            <span id="ctl00_Main_CustomerLeftMenu_divSolarPVSystemBuild">
                                <i class="overview-icon"></i>OVERVIEW
                            </span>
                        </a>
                        @*-------My Information--------*@
                        <a href="/Dashboard/ProjectInformation?CustomerToProjectID=5XI3Ym7rHQc%3d" id="ctl00_Main_CustomerLeftMenu_AUploadSiteSurveyDocument" title="MY Information" class="list-group-item card-1">
                            <span id="ctl00_Main_CustomerLeftMenu_divUploadSiteSurveyDocument">
                                <i class="my-home-icon"></i>MY INFORMATION
                            </span>
                        </a>
                        @*---------My System-------*@
                        <a href="/Dashboard/ProjectSystem" id="ctl00_Main_CustomerLeftMenu_aViewFeedback" title="MY SYSTEM" class="list-group-item card-1">
                            <div id="ctl00_Main_CustomerLeftMenu_divFeedBack">
                                <i class="experience-icon"></i>MY SYSTEM
                            </div>
                        </a>
                        @*-----------My Installation--------*@
                        <a href="/Dashboard/ProjectInstallation?CustomerToProjectID=5XI3Ym7rHQc%3d" id="ctl00_Main_CustomerLeftMenu_AChooseInstaller" title="MY INSTALLATION" class="list-group-item card-1">
                            <span id="ctl00_Main_CustomerLeftMenu_divChooseInstaller">
                                <i class="installation-icon"></i>MY INSTALLATION
                            </span>
                        </a>
                        @*----------My Financing-----------*@
                        <a href="/Dashboard/PaymentForm?Id=5XI3Ym7rHQc%3d" id="ctl00_Main_CustomerLeftMenu_aFinancing" title="MY FINANCING" class="list-group-item card-1" onclick="SetLeftactivemenu(this.id);">
                            <div id="ctl00_Main_CustomerLeftMenu_divMyFinancing">
                                <i class="financing-icon"></i>MY FINANCING
                            </div>
                        </a>
                        @*----dummy div for under menu----*@
                        <div class="dummybgdiv"></div>
                    </div>
                </div>
                @*-----------render body---------*@
                @RenderBody()
            </div>
        </div>
    </section>
    @*---------Footer---------*@
    <footer>
        <p>&copy; @DateTime.Now.Year - Interstellar Energy</p>
    </footer>
    <script type="text/javascript" src="~/Scripts/jquery-1.11.2.min.js"></script>
    <script type="text/javascript" src="~/Scripts/dashboard.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery-ui.min.js"></script>    
</body>
</html>
